/* ========================================================
*
* RentSargent Template
*
* ========================================================
*
* File: login.css
* Description: Login template styling
* Version: 1.0
*
* ======================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.login {
  background-color: #253138;
  /*background-color: #f9f9f9;*/
  padding-top: 60px;
  /* Helper */

}

.login .logo,
.login .single-sign-on,
.login .footer {
  margin: 0 auto;
  text-align: center;
  color: #BDBDBD;
}
.login .logo {
  padding: 15px;
  font-size: 23px;
}
.login .box {
  background-color: #fff;
  width: 350px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  /*border-top: 5px solid #4d7496;*/
  /* * * * * * * * * * * *
     * Inner Box
     * * * * * * * * * * * */

}
.login .box .content {
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.login .box form {
  padding: 0;
  margin: 0;
}
.login .box .form-title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}
.login .box .form-group {
  margin: 0;
  padding: 0;
  /*margin-bottom: 25px;*/
}
.login .box .form-actions {
  background-color: #fff;
  border-top: none;
  padding: 10px 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.login .box .input-icon {
  position: relative;
}
.login .box .input-icon input {
  border-left: 2px solid #253138;;
  height: 44px;
  font-size: 16px;  
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 0px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.login .box .has-error .input-icon input {
  border-left-color: #b94a48;
}
.login .box .has-success .input-icon input {
  border-left-color: #468847;
}
.login .box .checkbox {
  margin-top: 7px;
}
.login .box .inner-box {
  background-color: #f9f9f9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.login .box .inner-box .content {
  padding: 12px 30px;
  text-align: center;
}
.login .box .inner-box a {
  color: #555555;
  font-size: 12px;
  font-weight: 600;
}
.login .box .inner-box a:hover {
  text-decoration: none;
  color: #4d7496;
}
.login .box .inner-box .close {
  font-size: 12px;
  margin-top: -3px;
  margin-right: -20px;
}
.login .box .inner-box .close.hide-default {
  display: none;
}
.login .box .inner-box form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login .box .inner-box a + form {
  margin-top: 20px;
}
.login .box .inner-box .form-group {
  margin-bottom: 10px;
}
.login .box .inner-box .forgot-password-done {
  padding: 10px 0;
}
.login .box .inner-box .forgot-password-done .success-icon,
.login .box .inner-box .forgot-password-done .danger-icon {
  display: block;
  font-size: 30px;
  padding: 15px;
  padding-top: 0;
}
.login .box .inner-box .forgot-password-done .success-icon {
  color: #94b86e;
}
.login .box .inner-box .forgot-password-done .danger-icon {
  color: #e25856;
}
.login .box .inner-box .forgot-password-done span {
  font-weight: 600;
}
.login .single-sign-on {
  width: 350px;
  padding: 15px 0;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.login .single-sign-on:hover {
  opacity: 1;
}
.login .single-sign-on span {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color: #888888;
}
.login .single-sign-on .btn i {
  padding-right: 5px;
}
.login .footer {
  width: 350px;
  padding-top: 30px;
}
.login .footer a {
  font-size: 13px;
  color: #6f6f6f;
}
.login .footer a:hover {
  text-decoration: none;
  color: #4d7496;
}
.login .spacing-top {
  padding-top: 7px !important;
}


/*Button LogIn*/
.rs-btn-login {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #00afa2 !important;
  padding: 17px 0px;    
  width: 100%;    
  margin-bottom: 10px;    
  margin-top: 10px;  
}
.rs-btn-login:hover,
.rs-btn1-login.hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #028a7f;
}
.rs-btn-login:active,
.rs-btn-login.active {
  background-color: #028a7f;
  box-shadow: none;
  margin-bottom: 11px;
  font-size: 12px !important;    
}
/*End Button LogIn*/

/*Button Register*/
.rs-btn-register {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #00afa2 !important;
  padding: 17px 0px;    
  width: 100%;    
  margin-bottom: 10px;    
  margin-top: 10px;  
}
.rs-btn-regiter:hover,
.rs-btn1-register.hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #028a7f;
}
.rs-btn-register:active,
.rs-btn-register.active {
  background-color: #028a7f;
  box-shadow: none;
  margin-bottom: 11px;
  font-size: 12px !important;    
}
/*End Button Register*/

/* Begin Form Fields Register*/
.rs-register-div-plan {
  float: right;
  margin-top: -37px;
}

.rs-register-select-plan {
  padding-bottom: 10px;
  width: 200px;
  margin-left: -120px;
  border-radius: 0px;
  padding-top: 5px;
  background-color: transparent;
  border: 0px;
}
/*End Form Fields Register*/


/*Button Reset*/
.rs-btn-reset {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #00afa2 !important;
  padding: 17px 0px;    
  width: 100%;    
  margin-bottom: 10px;    
  margin-top: 10px;  
}
.rs-btn-reset:hover,
.rs-btn1-reset.hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #028a7f;
}
.rs-btn-reset:active,
.rs-btn-reset.active {
  background-color: #028a7f;
  box-shadow: none;
  margin-bottom: 11px;
  font-size: 12px !important;    
}
/*End Button Reset*/

/*Bgin Form Reset*/


.login strong{
  color: #eee;
}
.login-form .alert{
  text-align: center;
}

.login-form .form-group .col-xs-6,
.forgot-password-form .form-group .col-xs-6{  
  padding:0px;  
}

.login-form .form-group .link,
.forgot-password-form .form-group .link{
  color: #666;
  font-weight: 400;  
  display: inline-block;    
  transition: opacity ease 0.5s;
  font-size: 12px;
}

.login-form .has-success,
.forgot-password-form .has-success {
  padding-bottom: 10px !important;
}

.login-form, .forgot-password-form {
  padding-bottom: 20px !important;
}

.login-form .form-actions i,
.forgot-password-form .form-actions i, {
  width: 16px;
}

html>body>.ui-pnotify {
    position: relative;
    opacity: 1 !important;
    display: block;
    overflow: visible;
    top: 122px;
    cursor: auto;
    margin: auto;
    width: 350px !important;
    left: 24px !important;    
    right: 25px !important;
}
