/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-nov-2013, 13:31:25
    Author     : Jose Carlos Rodríguez Palacín
*/
@media (min-width: 992px) {
    .form-horizontal .control-label[data-class='nolabel'] {
        padding-top: 0px;
    }
}

i.color{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
}

.height-field{
    min-height: 32px;
}

.form-group label{
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-group label.has-error{
    overflow: visible;
    text-overflow: clip;
}

.txt_normal{
    text-align: left !important;
    font-weight: normal !important;
}

.container-modal {
    position: relative;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.page-header-margin{
    margin-top: 20px;
}

.margin-r10{
    margin-right: 10px;
}
.margin-b10{
    margin-bottom: 10px;
}
.margin-b20{
    margin-bottom: 20px;
}
.margin-b30{
    margin-bottom: 30px;
}
.margin-b40{
    margin-bottom: 40px;
}
.margin-l10{
    margin-left: 10px;
}
.margin-l20{
    margin-left: 20px;
}
.margin-l30{
    margin-left: 30px;
}
.margin-l40{
    margin-left: 40px;
}
.margin-t10{
    margin-top: 10px;
}
.bg-red{
    background-color: #d23459;
}

div.dataTables_filter label {
    float: left;
}
.dataTables_filter {
    text-align: left;
}
div.dataTables_info {
    float: right;
    margin: 0;
}
div.buttonsDataTables{
    float: right;
}
.has-error, .error{
    color: #B94A48;
}
.widget.box .widget-content .widget-sub-header {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom-color: #D9D9D9;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0 11px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 15px;
    border-top: 1px solid #ECECEC;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.widget .widget-content .widget-sub-header h4 {
    color: #ff4081;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0;
}

.ico-image{
    margin-right: 20px;
}
.white{
    color: #ffffff;
}
.MY_green {
    color: #31D25B;
}
.MY_red {
    color: #d23459;
}
.MY_visor {
    border:0;
    color:#ed7a53;
    font-weight:bold;
    box-shadow:none;
}
.MY_left {
    text-align: left !important;
}
.MY_alert {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    margin-top: 10px;
}

.drop-zone
{
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*propiedad experimental para acortar textos */
.text-responsive * {
    overflow-x: hidden;
    overflow-y: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.knob{
    font-size: 40px !important;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.input-group-addon:last-child{
    -webkit-border-top-right-radius: 4px !important;
    -moz-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

div.tagsinput {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px;
}
div.tagsinput span.tag {
    line-height: 20px;
}

.select2-container-multi .select2-choices {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.select2-container .select2-choice {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
    padding-top: 6px;
}

div.checker {margin: 8px 5px 5px 0;}
tr div.checker {margin: 0;}

/* CSS to html5-upload-image plugin */
img.ghost, img.main {
    width: auto;
    height: auto;
    max-width: none !important;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.dropzone:after {
    content: '' !important;
    font-size: 30px;
    color: #bbbbbb;
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index:0;
}
.html5-label{
    font-size: 0.8vw !important;
    text-align: center;
    width: 100%;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0 !important;
    width: 100% !important;
    max-width: 1500px !important;
    height: 100% !important;
    max-height: 1024px !important;
}

/* magnific popup */
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-close-btn-in .mfp-close {
    color: #ffffff !important;
    font-size: 27px !important;
}

.widget.box {
    clear: both;
}

.fl { float: left; }
.fr { float: right; }
.hidden {
    display: none;
    visibility: hidden;
}

/* autocomplete tags */
.ui-autocomplete
{
    background-color: rgba(255,255,255,0.6);
    border: solid 1px rgb(204, 204, 204);
    list-style: none;
    max-width: 300px;
    padding: 0;
}
.ui-autocomplete > li{
    padding: 5px 5px 5px 15px;
    cursor: pointer;
}
.ui-autocomplete > li:hover{
    background-color: #f5f5f5;
}
.ui-autocomplete > li > a{
    text-decoration: none;
}

.image-index-list{
    max-width: 100px; max-height: 50px
}
#locationMapWrapper{
    width: 100%;
    height:300px
}
.empty-form{
    height: 32px
}

select{
    height: 32px;
}

.white-popup {position: relative;}
.white-popup .mfp-close
{
    color: #333 !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
    right: 20px;
}

.black-text{
    color:black !important;
}
.black{
    background-color: black !important;
}

.container-overflow-div-group{
    height: 50px;
    overflow: auto;
    border: 1px solid #CCCCCC;
}

.container-overflow-div-group ul{
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.container-overflow-div-group li{
    list-style: none;
    padding-bottom: 8px;
}

